<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>conditional DCGAN</h1>

    <div class="image">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAABDElEQVR4nGNgoD9gRGIzO7n+rv2HQ6HVz0/v5ZEFmJDYdv9/s21zZMEuqcb4bKfc2kJWbJLMwkx31mfMb7mCzUqOOV8VmRjZP/5RxiIp+PAFKwMDA8vLb2IYcoxrf69mZGBgYGD7/YEJXZL9yk83COvCXwl0SbU3hzggrOx/zmiuZWn76/gDwhRlSIZLQuRZmf//hXrJ//9xNFN5H7yGshT//LGEmgaTFP9yl/E/AwMDA4P7378X0CSZ5G9CGByBF+//QDOW7c9VLgYGBga5hRcjNdB9wvrgOTsDAwOD65/7zOhyDAzV33cFs+lc+7KODVOOgefjy+dnv94vZ8Qix8Bg8+Hz10UcWKXoCABf9FAzRVeGUwAAAABJRU5ErkJggg==" width="300" height="300">
    </div>

    <div id="slidebars">
        <div id="slidebar" name="0" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="1" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="2" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="3" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="4" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="5" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="6" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="7" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="8" style="width:100px;"></div><span id="num">0</span>
        <div id="slidebar" name="9" style="width:100px;"></div><span id="num">0</span>
    </div>
    <button>Sumbit</button>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/le-frog/jquery-ui.css" />
    <script>
        $(function(){
            var arr = new Array();

            $('#slidebars > #slidebar').slider({
                min: 0,
                max: 1,
                step: 0.001,
                value: 0,
                slide: function(e, ui) {
                    $(this).next('#num').html('<span id="num">' + ui.value + '</span>');
                },
                change: function(e, ui) {
                    $(this).next('#num').html('<span id="num">' + ui.value + '</span>');
                    // console.log("name: " + Number($(this).attr('name')));
                    arr[Number($(this).attr('name'))] = ui.value;
                    // console.log("change: " + arr);
                },
                create: function(e, ui) {
                    $(this).next('#num').html('<span id="num">' + $(this).slider('option', 'value') + '</span>');
                    arr.push($(this).slider('option', 'value'));
                    // console.log("create: " + arr);
                }
            });

            // console.log(arr);

            $('button').click(function(){
                $.ajax({
                    url: '/chainer',
                    type: 'post',
                    data: {
                        range: arr
                    },
                })
                .done(function(response) {
                    var base = 'data:image/png;base64,' + response;
                    $('.image').children('img').attr('src', base);
                });
            });
        });
    </script>
</body>
</html>