<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cDCGAN WebApp</title>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>conditional DCGAN</h1>

    <div class="image">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAABDElEQVR4nGNgoD9gRGIzO7n+rv2HQ6HVz0/v5ZEFmJDYdv9/s21zZMEuqcb4bKfc2kJWbJLMwkx31mfMb7mCzUqOOV8VmRjZP/5RxiIp+PAFKwMDA8vLb2IYcoxrf69mZGBgYGD7/YEJXZL9yk83COvCXwl0SbU3hzggrOx/zmiuZWn76/gDwhRlSIZLQuRZmf//hXrJ//9xNFN5H7yGshT//LGEmgaTFP9yl/E/AwMDA4P7378X0CSZ5G9CGByBF+//QDOW7c9VLgYGBga5hRcjNdB9wvrgOTsDAwOD65/7zOhyDAzV33cFs+lc+7KODVOOgefjy+dnv94vZ8Qix8Bg8+Hz10UcWKXoCABf9FAzRVeGUwAAAABJRU5ErkJggg==" width="300" height="300">
    </div>

    <div id="slidebars">
        <div class="box">
            <span class="label">ラベル0</span><span class="nval">0</span><div id="slidebar" name="0"></div>
            <span class="label">ラベル1</span><span class="nval">0</span><div id="slidebar" name="1"></div>
            <span class="label">ラベル2</span><span class="nval">0</span><div id="slidebar" name="2"></div>
            <span class="label">ラベル3</span><span class="nval">0</span><div id="slidebar" name="3"></div>
            <span class="label">ラベル4</span><span class="nval">0</span><div id="slidebar" name="4"></div>
        </div>
        <div class="box">
            <span class="label">ラベル5</span><span class="nval">0</span><div id="slidebar" name="5"></div>
            <span class="label">ラベル6</span><span class="nval">0</span><div id="slidebar" name="6"></div>
            <span class="label">ラベル7</span><span class="nval">0</span><div id="slidebar" name="7"></div>
            <span class="label">ラベル8</span><span class="nval">0</span><div id="slidebar" name="8"></div>
            <span class="label">ラベル9</span><span class="nval">0</span><div id="slidebar" name="9"></div>
        </div>
    </div>

    <div id="footer">Daichi Igarashi (2018)</div>
     
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>